.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.state {
  display: flex;
  justify-content: center;
  font-size: var(--text-xs);
  color: var(--color-gray-light);
}
