.header {
  padding: 12px 24px;
}

.videoPage {
  max-width: 870px;
  margin: 0 auto;
  background-color: #222222;
  border-radius: 12px;
  padding-bottom: 16px;
  color: #fff;
}

.metaRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.meta {
  margin: 0;
  font-size: 14px;
  color: #919191;
}

.separator {
  opacity: 0.5;
}

/* Контейнер плеера: всегда 16:9 и на всю ширину */
.player {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  background: #f3f5f9;
}

.body {
  padding: 12px;
  display: grid;
  margin: 0 24px;
  background-color: #7d7d7d33;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 500;
  color: #b5b5b5;
}

.title {
  font-size: 20px;
}

.iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
.description {
}
