.shippingPage {
  min-height: 60vh;
  margin-bottom: 50px;
}

.shippingPageTitle {
  font-size: var(--text-2xl);
  font-weight: 450;
}

.shippingPageDescription {
  margin-top: 15px;
  font-size: var(--text-base);
  color: var(--color-gray);
}
