.tabs {
  margin: 20px 0;
}

.tabButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 20px;
  color: var(--color-gray-light);
}

.tabButton {
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--color-light);
  background-color: var(--color-white);
  text-align: start;
  border: 1px solid transparent;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.active {
  border: 1px solid var(--color-gray);
  box-shadow: none;
  cursor: default;
}

.tabButton:not(.active):hover {
  border: 1px solid #8d8d8d;
}

.tabText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tabTitle {
  font-family: var(--font-display);
  font-size: var(--text-base);
  font-weight: 550;
  color: var(--color-gray-light);
  transition: color 0.2s ease;
}

.tabSubtitle {
  font-size: var(--text-xs);
  color: var(--color-gray-light);
  transition: color 0.2s ease;
}

.icon {
  transition: color 0.2s ease;
}

.tabButton:not(.active):hover .icon,
.tabButton:not(.active):hover .tabTitle,
.tabButton:not(.active):hover .tabSubtitle {
  color: #8d8d8d;
}

.active .icon,
.active .tabTitle,
.active .tabSubtitle {
  color: var(--color-dark-blue);
}

.paymentList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 40px;
}

.paymentItem {
  background-color: var(--color-light-soft);
  padding: 24px;
  border-radius: 12px;
}

.paymentTitle {
  font-family: var(--font-display);
  font-size: var(--text-base);
  font-weight: 600;
  margin-bottom: 10px;
}

.paymentDescription {
  font-size: 14px;
  color: var(--color-gray);
}
.paymentButton {
  font-size: var(--text-sm);
  color: var(--color-gray);
  display: block;
  margin-top: 20px;
  text-decoration: underline;
  transition: color var(--dur) var(--ease);
}

.paymentButton:hover {
  color: var(--color-black);
}
