.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.title {
  margin: 0 0 24px;
  font-size: var(--text-2xl);
  font-weight: 450;
}

.subtitle {
  margin: 0;
  font-size: var(--text-sm);
  color: var(--color-gray);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
}
