/* ==========================================================================
   Секция баннеров
   ========================================================================== */



/* ==========================================================================
   Обертка слайдера
   ========================================================================== */

.sliderWrapper {
  overflow: hidden;
  border-radius: var(--radius);
}

/* ==========================================================================
   Мобильная версия
   ========================================================================== */

@media (max-width: 600px) {
  .sliderWrapper {
    border-radius: 0;
  }
}
