/* ==========================================================================
   CARD
   Карточка товара
   ========================================================================== */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  overflow: hidden;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px;

  transition:
    border var(--dur) var(--ease),
    box-shadow var(--dur) var(--ease);
}

.card:hover {
  border: 1px solid transparent;
  box-shadow: 0 2px 8px #ededed;
}

/* ==========================================================================
   PREVIEW LINK
   Ссылка на карточку товара
   ========================================================================== */

.previewLink {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
   THUMB
   Картинка товара
   ========================================================================== */

.thumb {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.image {
  display: block;
  object-fit: cover;
  border-radius: 12px;
}

.favoriteButtonOverlay {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Точки переключения картинок */
.dots {
  position: absolute;
  bottom: 8px;
  left: 50%;
  z-index: 2;

  display: flex;
  gap: 6px;

  transform: translateX(-50%);
}

.dot,
.dotActive {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.dot {
  background-color: var(--color-gray-light);
  transition: background-color var(--dur) var(--ease);
}

.dotActive {
  background-color: var(--color-dark-blue);
}

/* ==========================================================================
   PRODUCT BODY
   Цена и название
   ========================================================================== */

.productBody {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.discountBadge {
  position: absolute;
  bottom: calc(100% + 6px);
  left: 0;
  z-index: 2;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 32px;
  padding: 0 10px;
  border-radius: 12px;

  background: rgb(60, 170, 60);
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.priceBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
}

.price {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  text-wrap: nowrap;
}

.priceOld {
  margin: 0;
  color: var(--color-gray-light);
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}

.productName {
  padding-top: 10px;
}

.title {
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;

  font-size: var(--text-sm);
  font-weight: 450;
  color: var(--color-gray);
}

.title:hover {
  color: var(--color-dark-blue);
}

/* ==========================================================================
   TABLET
   Планшетная версия
   ========================================================================== */

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

/* ==========================================================================
   MOBILE
   Мобильная версия
   ========================================================================== */

@media (max-width: 600px) {
  .card {
    padding: 12px;

    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 12px;

    transition:
      border var(--dur) var(--ease),
      box-shadow var(--dur) var(--ease);
  }

  .price {
    font-size: 18px;
  }
}
