.contactsPage {
  min-height: 60vh;
  margin-bottom: 50px;
}

.contactsPageTitle {
  margin: 0 0 24px;
  font-size: var(--text-2xl);
  font-weight: 450;
}

.contactGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.contactSection {
  background: var(--color-light-soft);
  border-radius: 12px;
  padding: 24px;
}

.contactInfo {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}

.itemTitle {
  font-size: 16px;
  font-weight: 500;
  text-wrap: balance;
  margin-bottom: 10px;
}

.itemLink {
  font-size: 14px;
}

.itemText {
  font-size: 14px;
}

.feedbackButton {
  background-color: var(--color-dark-blue);
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  transition:
    background-color 260ms ease,
    color 260ms ease;
}
.feedbackButton:hover {
  background-color: var(--color-dark-blue-hover);
}

.requisitesOwner {
  margin-bottom: 10px;
  font-size: var(--text-sm);
  color: var(--color-black);
  font-weight: 500;
}

.requisitesList {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  row-gap: 6px;
  margin: 5px 0;
}

.requisitesTerm {
  font-weight: 500;
  color: var(--color-black);
  font-size: 14px;
}

.requisitesDesc {
  color: var(--color-black);
  font-weight: 400;
  word-break: break-word;
  font-size: 14px;
  text-wrap: balance;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.requisitesLink {
  font-size: 12px;
  text-decoration: underline;
}

.contactAddress {
  grid-column: span 2;
  gap: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.addressDetails {
  display: grid;
  gap: 24px;
  padding-right: 24px;
  grid-template-columns: 1fr 1fr;
}

.hoursList {
  margin: 0;
}

.routeList {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  gap: 16px;
}

.routeFrom {
  font-size: 16px;
  margin: 0 0 8px;
}

.routeSublist {
  margin: 0;

  font-size: 16px;
}

.officeImage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.image {
  object-fit: cover;
}

.mapEmbed {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  border-radius: 12px;
  background: var(--color-light);
}

.mapIframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
