/* Telegram.module.css */

/* ==========================================================================
   BANNER
   Основной контейнер баннера.
   ========================================================================== */

.banner {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 70px;
  padding: 50px 300px;
  border-radius: var(--radius);
  background: linear-gradient(88.22deg, #e0e7ef 36.91%, #f6f7f8 96%);
}

/* ==========================================================================
   CONTENT
   Текстовый блок баннера.
   ========================================================================== */

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  width: 70%;
  font-size: 35px;
  font-family: var(--font-display);
  font-weight: 500;
  line-height: 1.2;
  text-wrap: balance;
}

.description {
  width: 70%;
  font-size: var(--text-sm);
  color: var(--color-gray);
  text-wrap: balance;
}

.ctaButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 10px 30px;
  border-radius: var(--radius);
  background-color: #4c8ce2;
  color: var(--color-white);
  font-size: var(--text-base);
  transition: background-color var(--dur) var(--ease);
  text-wrap: nowrap;
}

.ctaButton:hover {
  background-color: #3b7ad1;
}

/* ==========================================================================
   QR
   Блок с изображением QR-кода.
   ========================================================================== */

.qrFrame {
  position: absolute;
  right: 250px;
  bottom: 0;
  width: 320px;
  height: 320px;
}

.qrImage {
  object-fit: contain;
}

/* ==========================================================================
   TABLET
   ========================================================================== */

@media (max-width: 1024px) {
  .banner {
    margin-top: 56px;
    padding: 40px 72px;
  }

  .title {
    width: 62%;
    font-size: 30px;
  }

  .description {
    width: 58%;
  }

  .ctaButton {
    padding: 10px 24px;
  }

  .qrFrame {
    right: 40px;
    width: 240px;
    height: 240px;
  }
}

/* ==========================================================================
   MOBILE
   ========================================================================== */

@media (max-width: 600px) {
  .banner {
    margin-top: 0px;
    border-radius: 0px;
    margin-bottom: 20px;
		padding: 20px;
  }

  .title {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }

  .qrFrame {
    display: none;
  }
  .description {
    width: 100%;
    text-align: center;
  }

  .ctaButton {
    gap: 6px;
    padding: 10px 15px;

    font-size: var(--text-sm);
  }

  .content {
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
}
