:root {
  /* =========================
     Layout
  ========================= */
  --container-max: 1360px;
  --container-pad: 24px;
  /* =========================
     Typography
  ========================= */
  --font-sans: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans", sans-serif;
  --font-display: "Hikasami Sans", var(--font-sans);

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 22px;
  --text-2xl: 32px;

  --lh-tight: 1.1;
  --lh-normal: 1.4;
  --lh-relaxed: 1.6;

  --color-black: #0b0f14;
  /* Почти чёрный с холодным подтоном*/
  --color-dark-blue: #0f172a;
  --color-dark-blue-hover: #273449;

  /* Тёмно-синий (navy/slate).*/
  --color-dark-blue-soft: #1c2230;
  /* Мягкий тёмно-синий. */
  --color-gray: #3a3f4b;
  --color-gray-hover: #273449;
  /* Нейтральный тёмный серый 
	вторичынй текст, хлебные крошки*/
  --color-gray-light: #bfc7d1;
  /* Светло-серый холодный ближе к синему. */
  --color-light: #e0e7ef;
  /* Очень светлый холодный серый ближе к синему (off-white). */
  --color-light-soft: #f6f7f8;
  /* Почти белый (серый) мягкий оттенок. */
  --color-white: #fff;
  /* белый оттенок. */
  /* =========================
		z-index
  ========================= */
  --z-overlay: 9000;
  --z-search-panel: 9010;
  --z-modal: 10000;
  /* =========================
     Radius
  ========================= */
  --radius-sm: 10px;
  --radius: 12px;
  --radius-lg: 20px;
  /* =========================
     Motion
  ========================= */
  --ease: cubic-bezier(0.2, 0.8, 0.2, 1);
  --dur-fast: 160ms;
  --dur: 300ms;
}
