.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.col {
  background: rgba(255, 0, 0, 0.01);
  outline: 1px solid rgba(255, 0, 0, 0.1);
}
