.main {
  padding: 24px 0;
}

/* ==========================================================================
   TABLET
   Планшетная версия
   ========================================================================== */

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

/* ==========================================================================
   MOBILE
   Мобильная версия
   ========================================================================== */

@media (max-width: 600px) {
  .main {
    padding: 0px 0px;
    margin-top: 0px;
  }
}
