.container {
  display: grid;

  gap: 8px;
  background-color: #333333;
  margin: 0 24px;
  padding: 12px;
  border-radius: 12px;
}

.text {
  margin: 0;
  white-space: pre-line; /* сохраняет \n как перенос строки */
  font-size: 14px;
}

/* Свернуто: 4 строки */
.collapsed {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  /* Стандартное свойство (новые браузеры) */
  line-clamp: 2;

  /* WebKit-префикс (Chrome, Safari, старые версии) */
  -webkit-line-clamp: 2;

  overflow: hidden;
}

/* Раскрыто: весь текст */
.expanded {
  display: block;
}

.toggle {
  align-self: flex-start;
  background: none;
  border: none;
  font-size: 12px;
  color: var(--color-accent);
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  width: fit-content;
}
