/* ==========================================================================
   SECTION
   Общая секция полки
   ========================================================================== */

.section {
  width: 100%;
  margin: 44px 0;
}

/* ==========================================================================
   SHELF
   Одна товарная полка
   ========================================================================== */

.shelf {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  gap: 24px;
}

/* Верхняя часть полки */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
  gap: 16px;
}

.title {
  margin: 0;
  min-width: 0;
  font-size: var(--text-2xl);
  font-weight: 450;
}

.viewAllLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  gap: 8px;
}

.viewAllText {
  font-size: 14px;
  color: var(--color-gray);
  text-decoration: none;
  transition: color var(--dur-fast) var(--ease);
  text-wrap: nowrap;
}

.viewAll:hover {
  color: var(--color-dark-blue);
}

.viewAllIcon {
  color: var(--color-gray);
  width: 10px;
  height: 10px;
  position: relative;
  top: 1px;
}

/* ==========================================================================
   SLIDE
   Один слайд внутри ProductsSlider
   ========================================================================== */

.slide {
  flex: 0 0 calc((100% - 16px * 4) / 5);
  align-self: stretch;
  scroll-snap-align: start;
}

/* ==========================================================================
   TABLET
   Планшетная версия
   ========================================================================== */

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

/* ==========================================================================
   MOBILE
   Мобильная версия
   ========================================================================== */

@media (max-width: 600px) {
  .section {
    margin: 0px 0px 10px;
    background-color: var(--color-white);
    padding: 20px 0px 30px 0px;
    border-radius: 24px;
  }

  .header {
    padding: 0px 15px;
  }

  .shelf {
    gap: 8px;
  }

  .title {
    font-size: var(--text-lg);
    font-weight: 550;
  }

  .slide {
    flex: 0 0 46%;
  }

  .slide:first-child {
    padding-left: 15px;
  }
}
