.banner {
  border: 1px solid #dfdfdf;
  padding: 50px 220px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: linear-gradient(93.49deg, #ffffff 6.02%, #f3f5f9 106.43%);
  margin-bottom: 36px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 40px;
  text-wrap: balance;
  line-height: 1.2;
}

.description {
  font-size: 14px;
  text-wrap: balance;
}

.ctaButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #4c8ce2;
  color: var(--color-bg);
  width: fit-content;
  padding: 10px 30px;
  border-radius: 22px;
}

.qrBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--color-bg);
  padding: 15px;
  border-radius: 12px;
}

.qrFrame {
  position: relative;
  width: 160px;
  height: 160px;
}

.qrImage {
  object-fit: contain;
}

.qrHint {
  font-size: 13px;
}
