@import "../styles/variables.css";
@import "../styles/reset.css";

.icon {
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 100%;
  height: 100%;
  display: block;
}
