/* ==========================================================================
   SECTION
   Общая секция полки со скидками
   ========================================================================== */

.section {
  width: 100%;
  margin-top: 70px;
  padding: 20px 26px;

  border: 1px solid var(--color-light);
  border-radius: 12px;

  background-image: url("/images/Hero/bg-sale.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ==========================================================================
   SHELF
   Внутренний контейнер полки
   ========================================================================== */

.shelf {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Верхняя часть полки */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.title {
  margin: 0;
  color: var(--color-white);
  font-size: var(--text-2xl);
  font-weight: 500;
}

.desktopOnly {
  display: inline;
}

.viewAllLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.viewAllText {
  font-size: 14px;
  color: var(--color-white);
  text-decoration: none;
  transition: color var(--dur-fast) var(--ease);
  text-wrap: nowrap;
}

.viewAll:hover {
  color: var(--color-dark-blue);
}

.viewAllIcon {
  color: var(--color-white);
  width: 10px;
  height: 10px;
  position: relative;
  top: 1px;
}

/* ==========================================================================
   SLIDE
   Один слайд внутри ProductsSlider
   ========================================================================== */

.slide {
  flex: 0 0 calc((100% - 16px * 4) / 5);
  align-self: stretch;
  scroll-snap-align: start;
}

/* ==========================================================================
   TABLET
   Планшетная версия
   ========================================================================== */

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

/* ==========================================================================
   MOBILE
   Мобильная версия
   ========================================================================== */

@media (max-width: 600px) {
  .section {
    margin-top: 0px;
    padding: 15px 0px 30px 0px;

    border: 1px solid transparent;
    border-radius: 24px;
		margin-bottom: 15px;
  }

  .title {
    font-size: var(--text-lg);
    font-weight: 550;
  }

  .shelf {
    gap: 12px;
  }

  .slide {
    flex: 0 0 46%;
  }

  .header {
    padding: 0 15px;
  }

  .desktopOnly {
    display: none;
  }

  .slide:first-child {
    padding-left: 15px;
  }
}
