.section {
  display: none;
  border-radius: 0 0 24px 24px;
  background-color: var(--color-white);
  margin-bottom: 10px;
}

.list {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 0px 0px 0px 15px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.list:last-child {
  padding-right: 15px;
}

.card {
  flex: 0 0 80px;
  text-decoration: none;
  color: var(--color-black);
}

.media {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 12px;
  background-color: transparent;
}

.image {
  object-fit: cover;
}

.caption {
  height: 40px;
  margin-top: 8px;
  overflow: hidden;
  text-align: center;
}

.title {
  display: block;
  font-size: 14px;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .section {
    display: block;
  }
}
