.button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  background: #6d6d6d;
  border: 0px solid transparent;
  padding: 6px 12px;
  border-radius: 8px;
	color: #bcbcbc;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  transition:
    background 260ms ease,
}

.button:hover {
  background: #7d7d7d;
}

.button:focus-visible {
  outline: 2px solid rgba(11, 16, 32, 0.6);
  outline-offset: 2px;
}
