/* src/sections/home/knowledge-preview/KnowledgePreview.module.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

/* 4 колонки — под десктоп */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
/* ==========================================================================
   TABLET
   Планшетная версия
   ========================================================================== */

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

/* ==========================================================================
   MOBILE
   Мобильная версия
   ========================================================================== */

@media (max-width: 600px) {
  .section {
    padding: 20px 0px;
    background-color: var(--color-white);
    border-radius: 24px;
    margin-bottom: 10px;
  }
}
