.section {
  padding: 20px 0;
  max-width: 880px;
  margin: 0 auto;
  min-height: 70vh;
}

.card {
  border-radius: 12px;
  background-color: #f9f9f9;
  border: 1px solid rgb(229, 229, 229);
  padding: 22px;
}
